@model IEnumerable<mapkowanie.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<head>
    <style>
        /*

                                #DCF2F1
                                #7FC7D9
                                #365486
                                #0F1035

                                #FFB81C; zolty, ostroznie!!
                        */

        body {
            background-color: rgba(127, 199, 217, 1);
            background-image: radial-gradient(circle, rgba(127, 199, 217, 1) 0%, rgba(220, 242, 241, 1) 100%);
            margin: 0;
            color: #0F1035;
        }
    </style>
</head>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WynagrodzenieMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WynagrodzenieMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracaStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracaStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.widocznosc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WynagrodzenieMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WynagrodzenieMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracaStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracaStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.widocznosc)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                <a href="https://www.blackpeoplemeet.com/">Zaaplikuj</a>
            </td>
        </tr>
}
    </tbody>
</table>
