@model IEnumerable<mapkowanie.Models.Statistics>

@{
    ViewData["Title"] = "Statystyki";
}

<h1>Statystyki</h1>

<!-- Ponadto każdy użytkownik ma dostęp do swoich statystyk, które przy każdym rodzaju ćwiczenia podają liczbę sesji treningowych w ostatnich czterech tygodniach,
gdy użytkownik wykonywał dane ćwiczenie oraz najlepszy wynik (najlepszy to taki, gdy ciężar przemnożony przez łączną liczbę powtórzeń jest największy). -->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        sads
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                    sss
                </td>
            </tr>
        }
    </tbody>
</table>































<!--
<p>
     <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
@Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Reps)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
@Html.DisplayNameFor(model => model.ExcerciceType)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Session)
            </th>
            <th>
@Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Reps)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Series)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.ExcerciceType.Id)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Session.Id)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.user.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
-->
